<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <servers>
        <server>
            <id>upi-maven-releases</id>
            <username>hg-dev-team</username>
            <password>1234@com</password>
        </server>
        <server>
            <id>upi-maven-snapshots</id>
            <username>hg-dev-team</username>
            <password>1234@com</password>
        </server>
        <server>
            <id>upi-maven-central</id>
            <username>admin</username>
            <password>admin123</password>
        </server>
        <server>
            <id>upi-maven-public</id>
            <username>hg-dev-team</username>
            <password>1234@com</password>
        </server>
    </servers>

    <mirrors>
      <mirror>
          <id>nexus-aliyun</id>
          <name>Nexus aliyun</name>
          <mirrorOf>central</mirrorOf>
          <url>https://maven.aliyun.com/repository/public</url>
      </mirror>
      <!-- <mirror>
          <id>mirrorId</id>
          <name>Nexus Ideal Softone</name>
          <mirrorOf>*,!central</mirrorOf>
          <url>http://172.19.12.226/nexus/repository/upi-maven-public/</url>
      </mirror> -->
    </mirrors>

    <!-- <profiles>
        <profile>
            <id>development</id>
            <repositories>
                <repository>
                    <id>maven-central</id>
                    <url>http://180.101.144.155:8081/repository/maven-central/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </snapshots>
                </repository>
                <repository>
                    <id>maven-releases</id>
                    <url>http://180.101.144.155:8081/repository/maven-releases/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>maven-snapshots</id>
                    <url>http://180.101.144.155:8081/repository/maven-snapshots/</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>development</activeProfile>
    </activeProfiles> -->
</settings>