global
  log 127.0.0.1	local0
  log 127.0.0.1	local1 notice
  maxconn 4096
  daemon

defaults
  log	global
  mode	http
  option	httplog
  option	dontlognull
  retries	3
  option redispatch
  maxconn	2000
  timeout connect	5000
  timeout client	50000
  timeout server	50000

frontend balancer
  bind 0.0.0.0:80
  mode http
  default_backend servers

backend servers
  option httpchk GET /actuator/info
  option forwardfor
  cookie JSESSIONID prefix
  server tomcat1 weba:8080 cookie JSESSIONID_SERVER_1 check inter 5000
  server tomcat2 webb:8080 cookie JSESSIONID_SERVER_2 check inter 5000

listen status
  mode http
  default_backend servers
  bind 0.0.0.0:70
  stats enable
  stats hide-version
  stats uri     /stats
  stats auth    admin:password
  stats admin if TRUE
